{% extends "base.html" %}

{% block content %}

<h2> Add Post! </h2>
<br/>
	{% for message in get_flashed_messages() %}
		<div class="alert alert-warning alert-dismissible fade show" role="alert">
			<strong>{{ message }}</strong> 			
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>
	{% endfor %}

	<br/>

{% if current_user.is_authenticated %}
	<form method="POST" action="">
		{{ form.hidden_tag() }}

		{{ form.title.label(class="form-label") }}
		{{ form.title(class="form-control") }}
		<br/>

		{{ form.content.label(class="form-label") }}
		{{ form.content(class="form-control") }}

		<br/>
		{{ form.submit(class="btn btn-primary")}}

	</form>
	<br/><br/>
	

{% else %}
	<b>You must be logged In!</b>
	<a href="{{ url_for('login') }}">login Here</a>

{% endif %}

	
{% endblock %}
