{% extends "base.html" %}

{% block content %}

<h2> Add data </h2>
<br/>
	{% for message in get_flashed_messages() %}
		<div class="alert alert-warning alert-dismissible fade show" role="alert">
			<strong>{{ message }}</strong> 			
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>
	{% endfor %}

	<br/>

	<form method="POST" action="">
		{{ form.hidden_tag() }}

		{{ form.email.label(class="form-label") }}
		{{ form.email(class="form-control") }}
		<br/>

		{{ form.username.label(class="form-label") }}
		{{ form.username(class="form-control") }}
		<br/>

		{{ form.password.label(class="form-label") }}
		{{ form.password(class="form-control") }}
		<br/>

		{{ form.confirm_password.label(class="form-label") }}
		{{ form.confirm_password(class="form-control") }}

		<br/>
		{{ form.submit(class="btn btn-primary")}}

	</form>
	<br/><br/>
	{% for data in our_data %}
	    <a href="{{ url_for('update_data',id=data.id) }}">Click_to_update</a> 
	    <br>Id: {{ data.id }} 
	    <br/>Email: {{ data.email }} 
	    <br/>Username: {{ data.username }} 
	    <br/>Password: {{ data.password }} 
	    <br/>Issue_time: {{ data.issue_time }} 
	    <a href="{{ url_for('delete_data',model_name='Register', id=data.id) }}">Click_to_delete</a>
	    <br/><br/><br/>
    {% endfor %}

	
{% endblock %}
