{% extends "base.html" %}

{% block content %}

<h1> Login! </h1>
<br/>
	{% for message in get_flashed_messages() %}
		<div class="alert alert-warning alert-dismissible fade show" role="alert">
			<strong>{{ message }}</strong> 			
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>
	{% endfor %}

	<br/>
	<form method="POST" action="">
		<div class="shadow p-3 mb-5 bg-body rounded">
		{{ form.hidden_tag() }}

		{{ form.username.label(class="form-label") }}
		{{ form.username(class="form-control") }}
		<br/>

		{{ form.password.label(class="form-label") }}
		{{ form.password(class="form-control") }}
		<br/>

		{{ form.submit(class="btn btn-primary")}}
	</div>
	</form>
	

{% endblock %}
